@charset "utf-8";
@import "va";

.import_password {
  width: 310px;
  margin: 0px auto;
  padding-top:50px;
  position: relative;
  p {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  div {
    overflow: hidden;
    input {
      width:310px;
      height: 41px;
      border: none;
      position: relative;
      z-index: 4;
      background: none;
      letter-spacing: 46.444px;
      outline:medium;
      font-size:12px;
      opacity:0;
      color: transparent;
      &focus{
        padding-left: 23px;
      }

    }
    >div{
      width: 100%;
      height: 41px;
      line-height: 41px;
      padding-left: 23px;
      position: absolute;
      top: 83px;
      letter-spacing: 46.444px;
      z-index:3;
    }
    ul {
      width: 100%;
      height: 41px;
      position: absolute;
      top: 81px;
      li {
        border:1px solid $text_red_color;
        width: 16.666%;
        height: 41px;
        float: left;
      }
      li:nth-child(1){
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

      }
      li:nth-child(6){
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;

      }
    }
  }
}
.set_password_confirm{
  width: 310px;
  height: 43px;
  line-height: 40px;
  margin: 34px auto;
  color:#fff;
  text-align: center;
  background-color: $text_darken_color;
  font-weight: bold;
  
}
//验证提示
.test_hint{
 position: fixed;
    top: 50%;
    left: 50%;
    width: 260px;
    padding: 20px;
    margin-left: -130px;
    margin-top:-50px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: #000;
    display: none;
    z-index: 6;
}