<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>agokara</title>
    <link rel="stylesheet" href="/stylesheets/reset.css?v=201607"/>
    <link rel="stylesheet" href="/stylesheets/index.css?v=201607"/>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.1.0.min.js?v=201607"></script>
    <script type="text/javascript" src="/javascripts/iscroll.js?v=201607"></script>
  <script type="text/javascript" src="/javascripts/jquery.fly.min.js?v=201607"></script>
</head>

<body>
<!--LOGO-->
<div class="mall_logo">
    <span></span><b class="icon_tiao"></b>
</div>
<!--顶部分类-->
<div class="mall_head" id="parent">
    <ul>
        <li class="color_darken">推荐产品</li>
        <li>白酒</li>
        <li>小食品</li>
        <li>蛋糕</li>
        <li>红酒</li>
        <li>起泡酒</li>
        <li>红酒</li><li>白酒</li>
        <li>小食品</li>
        <li>蛋糕</li>
        <li>红酒</li>
        <li>起泡酒</li>
        <li>红酒</li><li>白酒</li>
        <li>小食品</li>
        <li>蛋糕</li>
        <li>红酒</li>
        <li>起泡酒</li>
        <li>红酒</li><li>白酒</li>
        <li>小食品</li>
        <li>蛋糕</li>
        <li>红酒</li>
        <li>起泡酒</li>
        <li>红酒</li><li>白酒</li>
        <li>小食品</li>
        <li>蛋糕</li>
        <li>红酒</li>
        <li>起泡酒</li>
        <li>红酒</li><li>白酒</li>
        <li>小食品</li>
        <li>蛋糕</li>
        <li>红酒</li>
        <li>起泡酒</li>
        <li>红酒</li><li>白酒</li>
        <li>小食品</li>
        <li>蛋糕</li>
        <li>红酒</li>
        <li>起泡酒</li>
        <li>红酒</li>
        <b></b>
    </ul>
</div>

<div id="recommend_wrap" style="padding-top:96px;height:100%;">
  <div>
      <div style="overflow:hidden;padding-bottom:160px;">

          <div class="recommend">
              <div><img src="/images/4.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

              <header>红酒</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/瓶</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/3.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

              <header>糕点</header>
              <section>红牛</section>
              <footer>￥<span>8.00</span>/份</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/6.jpg" alt=""/><b><img src="/images/vip3.png" alt=""></b></div>

              <header>饮料</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/瓶</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/7.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

              <header>红酒</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/瓶</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/8.jpg" alt=""/><b><img src="/images/vip3.png" alt=""></b></div>

              <header>糕点</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/份</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/9.jpg" alt=""/><b><img src="/images/vip2.png" alt=""></b></div>

              <header>糕点</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/份</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/10.jpg" alt=""/><b><img src="/images/vip3.png" alt=""></b></div>

              <header>糕点</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/份</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/5.jpg" alt=""/><b><img src="/images/vip3.png" alt=""></b></div>

              <header>水果</header>
              <section>新鲜果盘</section>
              <footer>￥<span>88.00</span>/盘</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4431</p>
          </div>
          <div class="recommend">
              <div><img src="/images/1.jpg" alt=""/><b><img src="/images/vip3.png" alt=""></b></div>

              <header>红酒</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/瓶</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4432</p>
          </div>
          <div class="recommend">
              <div><img src="/images/2.jpg" alt=""/><b><img src="/images/vip2.png" alt=""></b></div>

              <header>红酒</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/瓶</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
          <div class="recommend">
              <div><img src="/images/7.jpg" alt=""/><b><img src="/images/vip2.png" alt=""></b></div>

              <header>红酒</header>
              <section>意大利1988红酒</section>
              <footer>￥<span>889.00</span>/瓶</footer>
              <b class="shop_car"></b>

              <p class="item_id">r4433</p>
          </div>
      </div>
  </div>


</div>
<div id="parent1" style="display: none;">

    <div class="mall_body">
        <div class="recommend">
            <div><img src="/images/classify1.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

            <header>红酒</header>
            <section>意大利1988红酒</section>
            <footer>￥<span>889.00</span>/瓶</footer>
            <b class="shop_car"></b>

            <p class="item_id">r4431</p>
        </div>
        <div class="recommend">
            <div><img src="/images/classify2.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

            <header>红酒</header>
            <section>意大利1988红酒</section>
            <footer>￥<span>889.00</span>/瓶</footer>
            <b class="shop_car"></b>

            <p class="item_id">r4432</p>
        </div>
        <div class="recommend">
            <div><img src="/images/classify3.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

            <header>红酒</header>
            <section>意大利1988红酒</section>
            <footer>￥<span>889.00</span>/瓶</footer>
            <b class="shop_car"></b>

            <p class="item_id">r4433</p>
        </div>
        <div class="recommend">
            <div><img src="/images/classify5.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

            <header>红酒</header>
            <section>意大利1988红酒</section>
            <footer>￥<span>889.00</span>/瓶</footer>
            <b class="shop_car"></b>

            <p class="item_id">r4433</p>
        </div>
        <div class="recommend">
            <div><img src="/images/classify7.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

            <header>红酒</header>
            <section>意大利1988红酒</section>
            <footer>￥<span>889.00</span>/瓶</footer>
            <b class="shop_car"></b>

            <p class="item_id">r4433</p>
        </div>
        <div class="recommend">
            <div><img src="/images/classify1.jpg" alt=""/><b><img src="/images/associator_icon.png" alt=""></b></div>

            <header>红酒</header>
            <section>意大利1988红酒</section>
            <footer>￥<span>889.00</span>/瓶</footer>
            <b class="shop_car"></b>

            <p class="item_id">r4433</p>
        </div>

    </div>

</div>


<nav class="nav">
    <ul>
        <li><b></b>官网</li>
        <li id="n2"><b></b>在线超市</li>
        <li><b><span class="shopcar" id="shopcar">4</span></b>购物车</li>
        <li><b></b>我</li>
    </ul>
</nav>
<script src="/javascripts/index.js"></script>
</body>
</html>
























